<body>

  <script type="text/x-template" id="mm-content-template">
    <v-content app>
      <v-container>

        <v-toolbar>
          <v-toolbar-title>Welcome to the fathom unit converter!</v-toolbar-title>
        </v-toolbar>
        <v-card>
          <v-layout row wrap>
            <v-flex>
              <v-select
              v-model="converttype"
              label="Select a type of unit"
              :items="unittypes"
              @change="changeType()"
              >
            </v-select>
            </v-flex>
          </v-layout>

          <!-- Can type in values and will reactively convert. -->
          <v-layout row wrap>
            <v-flex xs5>
              <input
              type="text"
              v-model="valueleft"
              placeholder="Value"
              @input="leftValInput()"
              >
            </v-flex>
            <v-flex xs2><span class="equals-sign">=</span></v-flex>
            <v-flex xs5>
              <input
              type="text"
              v-model="valueright"
              placeholder="Value"
              @input="rightValInput()"
              >
            </v-flex>
          </v-layout>

          <!--
          UI a little tricky.
          Left unit select is the driver.
          When you change the left or right units:
          1) Left value stays the same.
          2) Right value is updated.
          -->
          <v-layout row wrap>
            <v-flex xs5>
              <select
              v-model="convertleft"
              @change="changeRight()"
              >
              <option
              value=""
              >(Select unit)</option>
              <option
              v-for="conversion in conversions()"
              :value="conversion.value"
              :key="conversion.value"
              >{{conversion.label}}</option>
              </select>
            </v-flex>
            <v-flex xs2><v-spacer></v-spacer></v-flex>
            <v-flex xs5>
              <select
              v-model="convertright"
              @change="changeRight()"
              >
              <option
              value=""
              >(Select unit)</option>
              <option
              v-for="conversion in conversions()"
              :value="conversion.value"
              :key="conversion.value"
              >{{conversion.label}}</option>
              </select>
            </v-flex>
          </v-layout>

        </v-flex>
      </v-layout>
    </v-card>
  </v-container>
</v-content>
</script>

</body>
